In [1]:
import pandas as pd

lr2018 = pd.read_csv('아파트(전월세)_실거래가_2018.csv')
lr2019 = pd.read_csv('아파트(전월세)_실거래가_2019.csv')
lr2020 = pd.read_csv('아파트(전월세)_실거래가_2020.csv')
lr2021 = pd.read_csv('아파트(전월세)_실거래가_2021.csv')
lr2022 = pd.read_csv('아파트(전월세)_실거래가_2022.csv')
lr2023 = pd.read_csv('아파트(전월세)_실거래가_2023.csv')
lr2024 = pd.read_csv('아파트(전월세)_실거래가_2024.csv')

/var/folders/sz/jckrc5g14_5650t4yldl5ww40000gn/T/ipykernel_99554/637677102.py:3: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  lr2018 = pd.read_csv('아파트(전월세)_실거래가_2018.csv')
/var/folders/sz/jckrc5g14_5650t4yldl5ww40000gn/T/ipykernel_99554/637677102.py:5: DtypeWarning: Columns (11,18) have mixed types. Specify dtype option on import or set low_memory=False.
  lr2020 = pd.read_csv('아파트(전월세)_실거래가_2020.csv')
/var/folders/sz/jckrc5g14_5650t4yldl5ww40000gn/T/ipykernel_99554/637677102.py:6: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  lr2021 = pd.read_csv('아파트(전월세)_실거래가_2021.csv')
/var/folders/sz/jckrc5g14_5650t4yldl5ww40000gn/T/ipykernel_99554/637677102.py:7: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  lr2022 = pd.read_csv('아파트(전월세)_실거래가_2022.csv')

In [2]:
lr2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167907 entries, 0 to 167906
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            167907 non-null  int64
 1   시군구           167907 non-null  object
 2   번지            167907 non-null  object
 3   본번            167907 non-null  int64
 4   부번            167907 non-null  int64
 5   단지명           167907 non-null  object
 6   전월세구분         167907 non-null  object
 7   전용면적(㎡)       167907 non-null  float64
 8   계약년월          167907 non-null  int64
 9   계약일           167907 non-null  int64
 10  보증금(만원)       167907 non-null  object
 11  월세금(만원)       167907 non-null  object
 12  층             167907 non-null  int64
 13  건축년도          167907 non-null  int64
 14  도로명           167907 non-null  object
 15  계약기간          167907 non-null  object
 16  계약구분          167907 non-null  object
 17  갱신요구권 사용      167907 non-null  object
 18  종전계약 보증금(만원)  265 non-null     object
 19  종전계약 월세(만원)   265 non-null     float64
 20  주택유형          167907 non-null  object
dtypes: float64(2), int64(7), object(12)
memory usage: 26.9+ MB

In [3]:
lr2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181296 entries, 0 to 181295
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            181296 non-null  int64
 1   시군구           181296 non-null  object
 2   번지            181296 non-null  object
 3   본번            181296 non-null  int64
 4   부번            181296 non-null  int64
 5   단지명           181296 non-null  object
 6   전월세구분         181296 non-null  object
 7   전용면적(㎡)       181296 non-null  float64
 8   계약년월          181296 non-null  int64
 9   계약일           181296 non-null  int64
 10  보증금(만원)       181296 non-null  object
 11  월세금(만원)       181296 non-null  object
 12  층             181296 non-null  int64
 13  건축년도          181296 non-null  int64
 14  도로명           181296 non-null  object
 15  계약기간          181296 non-null  object
 16  계약구분          181296 non-null  object
 17  갱신요구권 사용      181296 non-null  object
 18  종전계약 보증금(만원)  249 non-null     object
 19  종전계약 월세(만원)   249 non-null     float64
 20  주택유형          181296 non-null  object
dtypes: float64(2), int64(7), object(12)
memory usage: 29.0+ MB

In [4]:
lr2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197328 entries, 0 to 197327
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            197328 non-null  int64
 1   시군구           197328 non-null  object
 2   번지            197328 non-null  object
 3   본번            197328 non-null  int64
 4   부번            197328 non-null  int64
 5   단지명           197328 non-null  object
 6   전월세구분         197328 non-null  object
 7   전용면적(㎡)       197328 non-null  float64
 8   계약년월          197328 non-null  int64
 9   계약일           197328 non-null  int64
 10  보증금(만원)       197328 non-null  object
 11  월세금(만원)       197328 non-null  object
 12  층             197328 non-null  int64
 13  건축년도          197328 non-null  int64
 14  도로명           197328 non-null  object
 15  계약기간          197328 non-null  object
 16  계약구분          197328 non-null  object
 17  갱신요구권 사용      197328 non-null  object
 18  종전계약 보증금(만원)  370 non-null     object
 19  종전계약 월세(만원)   370 non-null     float64
 20  주택유형          197328 non-null  object
dtypes: float64(2), int64(7), object(12)
memory usage: 31.6+ MB

In [5]:
lr2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227935 entries, 0 to 227934
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            227935 non-null  int64
 1   시군구           227935 non-null  object
 2   번지            227935 non-null  object
 3   본번            227935 non-null  int64
 4   부번            227935 non-null  int64
 5   단지명           227935 non-null  object
 6   전월세구분         227935 non-null  object
 7   전용면적(㎡)       227935 non-null  float64
 8   계약년월          227935 non-null  int64
 9   계약일           227935 non-null  int64
 10  보증금(만원)       227935 non-null  object
 11  월세금(만원)       227935 non-null  object
 12  층             227935 non-null  int64
 13  건축년도          227935 non-null  int64
 14  도로명           227935 non-null  object
 15  계약기간          227935 non-null  object
 16  계약구분          227935 non-null  object
 17  갱신요구권 사용      227935 non-null  object
 18  종전계약 보증금(만원)  38361 non-null   object
 19  종전계약 월세(만원)   38361 non-null   object
 20  주택유형          227935 non-null  object
dtypes: float64(1), int64(7), object(13)
memory usage: 36.5+ MB

In [6]:
lr2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259105 entries, 0 to 259104
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            259105 non-null  int64
 1   시군구           259105 non-null  object
 2   번지            259105 non-null  object
 3   본번            259105 non-null  int64
 4   부번            259105 non-null  int64
 5   단지명           259105 non-null  object
 6   전월세구분         259105 non-null  object
 7   전용면적(㎡)       259105 non-null  float64
 8   계약년월          259105 non-null  int64
 9   계약일           259105 non-null  int64
 10  보증금(만원)       259105 non-null  object
 11  월세금(만원)       259105 non-null  object
 12  층             259105 non-null  int64
 13  건축년도          259105 non-null  int64
 14  도로명           259105 non-null  object
 15  계약기간          259105 non-null  object
 16  계약구분          259105 non-null  object
 17  갱신요구권 사용      259105 non-null  object
 18  종전계약 보증금(만원)  84949 non-null   object
 19  종전계약 월세(만원)   84949 non-null   object
 20  주택유형          259105 non-null  object
dtypes: float64(1), int64(7), object(13)
memory usage: 41.5+ MB

In [7]:
lr2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282279 entries, 0 to 282278
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            282279 non-null  int64
 1   시군구           282279 non-null  object
 2   번지            282279 non-null  object
 3   본번            282279 non-null  int64
 4   부번            282279 non-null  int64
 5   단지명           282279 non-null  object
 6   전월세구분         282279 non-null  object
 7   전용면적(㎡)       282279 non-null  float64
 8   계약년월          282279 non-null  int64
 9   계약일           282279 non-null  int64
 10  보증금(만원)       282279 non-null  object
 11  월세금(만원)       282279 non-null  object
 12  층             282279 non-null  int64
 13  건축년도          282279 non-null  int64
 14  도로명           282279 non-null  object
 15  계약기간          282279 non-null  object
 16  계약구분          282279 non-null  object
 17  갱신요구권 사용      282279 non-null  object
 18  종전계약 보증금(만원)  66404 non-null   object
 19  종전계약 월세(만원)   66404 non-null   object
 20  주택유형          282279 non-null  object
dtypes: float64(1), int64(7), object(13)
memory usage: 45.2+ MB

In [8]:
lr2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126831 entries, 0 to 126830
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   NO            126831 non-null  int64
 1   시군구           126831 non-null  object
 2   번지            126831 non-null  object
 3   본번            126831 non-null  int64
 4   부번            126831 non-null  int64
 5   단지명           126831 non-null  object
 6   전월세구분         126831 non-null  object
 7   전용면적(㎡)       126831 non-null  float64
 8   계약년월          126831 non-null  int64
 9   계약일           126831 non-null  int64
 10  보증금(만원)       126831 non-null  object
 11  월세금(만원)       126831 non-null  object
 12  층             126831 non-null  int64
 13  건축년도          126831 non-null  int64
 14  도로명           126831 non-null  object
 15  계약기간          126831 non-null  object
 16  계약구분          126831 non-null  object
 17  갱신요구권 사용      126831 non-null  object
 18  종전계약 보증금(만원)  37113 non-null   object
 19  종전계약 월세(만원)   37113 non-null   object
 20  주택유형          126831 non-null  object
dtypes: float64(1), int64(7), object(13)
memory usage: 20.3+ MB

In [9]:
lr2018 = lr2018.sort_values('NO', ascending=False).reset_index()
lr2018 = lr2018.drop(columns=['index', 'NO'])
lr2018

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,서울특별시 서대문구 홍은동,464,464,0,북한산더샵,월세,84.83,201801,1,"25,000",70,13,2017,통일로 510,-,-,-,NaN,NaN,아파트
1,서울특별시 마포구 신공덕동,170,170,0,브라운스톤공덕아파트,전세,59.89,201801,1,"50,000",0,18,2009,백범로 230,-,-,-,NaN,NaN,아파트
2,서울특별시 동작구 상도동,363-164,363,164,상도휴엔하임,월세,14.70,201801,1,"4,000",40,11,2016,상도로15길 131,-,-,-,NaN,NaN,아파트
3,서울특별시 영등포구 신길동,365,365,0,우성1,월세,49.64,201801,1,"10,000",25,2,1986,도신로 68,-,-,-,NaN,NaN,아파트
4,서울특별시 관악구 봉천동,863-9,863,9,코스모블루,월세,13.09,201801,1,"1,000",55,9,2012,남부순환로220길 29,-,-,-,NaN,NaN,아파트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167902,서울특별시 용산구 문배동,11-34,11,34,G&P용산파크,전세,28.28,201812,31,"26,000",0,6,2018,청파로 201-17,201902~202102,신규,-,NaN,NaN,아파트
167903,서울특별시 용산구 문배동,11-34,11,34,G&P용산파크,전세,28.28,201812,31,"30,000",0,13,2018,청파로 201-17,-,-,-,NaN,NaN,아파트
167904,서울특별시 용산구 원효로4가,109-4,109,4,풍전,전세,97.36,201812,31,"26,000",0,2,1971,원효로25길 14,201901~202012,갱신,-,"24,000",0.0,아파트
167905,서울특별시 용산구 문배동,24-6,24,6,CJ나인파크,전세,123.47,201812,31,"66,500",0,19,2007,백범로90다길 12,-,-,-,NaN,NaN,아파트
167906,서울특별시 종로구 숭인동,181-121,181,121,도시그린빌라,전세,57.45,201812,31,"23,500",0,3,1997,숭인동1길 31,-,-,-,NaN,NaN,아파트

In [10]:
lr2019 = lr2019.sort_values('NO', ascending=False).reset_index()
lr2019 = lr2019.drop(columns=['index', 'NO'])
lr2019

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,서울특별시 성동구 하왕십리동,1070,1070,0,센트라스,월세,59.940,201901,1,"55,000",10,15,2016,왕십리로 410,-,-,-,NaN,NaN,아파트
1,서울특별시 광진구 광장동,145-8,145,8,워커힐,월세,196.000,201901,1,0,250,11,1978,아차산로 637,201901~202112,-,-,NaN,NaN,아파트
2,서울특별시 종로구 무악동,89,89,0,경희궁롯데캐슬,전세,110.856,201901,1,"70,000",0,1,2019,통일로 230,-,-,-,NaN,NaN,아파트
3,서울특별시 용산구 이촌동,301-10,301,10,로얄맨숀,전세,39.070,201901,1,"12,000",0,13,1972,이촌로75길 6,-,-,-,NaN,NaN,아파트
4,서울특별시 서초구 잠원동,70,70,0,신반포4,전세,105.440,201901,1,"68,000",0,8,1979,잠원로 37-48,-,-,-,NaN,NaN,아파트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181291,서울특별시 성동구 금호동1가,633,633,0,벽산,전세,114.570,201912,31,"54,000",0,1,2001,금호로 100,-,-,-,NaN,NaN,아파트
181292,서울특별시 중구 신당동,840,840,0,현대,전세,83.970,201912,31,"17,000",0,3,1993,다산로36길 109,-,-,-,NaN,NaN,아파트
181293,서울특별시 성동구 성수동2가,837,837,0,우성2차,전세,84.350,201912,31,"46,000",0,3,2006,성수이로16길 13,-,-,-,NaN,NaN,아파트
181294,서울특별시 성동구 용답동,252,252,0,덕현해밀,전세,84.990,201912,31,"35,000",0,4,2014,용답29길 29,-,-,-,NaN,NaN,아파트
181295,서울특별시 성동구 옥수동,561,561,0,래미안 옥수 리버젠,전세,59.250,201912,31,"82,500",0,1,2012,매봉길 15,-,-,-,NaN,NaN,아파트

In [11]:
lr2020 = lr2020.sort_values('NO', ascending=False).reset_index()
lr2020 = lr2020.drop(columns=['index', 'NO'])
lr2020

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,서울특별시 성북구 장위동,319,319,0,꿈의숲코오롱하늘채,전세,84.87,202001,1,"43,000",0,2,2017,돌곶이로 220,-,-,-,NaN,NaN,아파트
1,서울특별시 노원구 월계동,951,951,0,월계센트럴아이파크,전세,84.99,202001,1,"45,000",0,10,2019,초안산로2라길 26,-,-,-,NaN,NaN,아파트
2,서울특별시 성북구 종암동,133,133,0,래미안세레니티,월세,114.99,202001,1,"10,000",158,10,2009,종암로23길 35,-,-,-,NaN,NaN,아파트
3,서울특별시 성북구 석관동,404,404,0,삼성,전세,59.82,202001,1,"18,000",0,7,1997,한천로68길 51,-,-,-,NaN,NaN,아파트
4,서울특별시 성북구 장위동,322,322,0,래미안포레카운티,월세,39.90,202001,1,"8,584",32,2,2019,,-,-,-,NaN,NaN,아파트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197323,서울특별시 광진구 중곡동,698,698,0,타워캐슬,전세,13.01,202012,31,"8,400",0,2,2012,능동로 362,-,-,-,NaN,NaN,아파트
197324,서울특별시 용산구 문배동,24-8,24,8,프라임펠리스,전세,13.69,202012,31,"16,000",0,16,2012,백범로90길 38,-,-,-,NaN,NaN,아파트
197325,서울특별시 용산구 이촌동,412,412,0,이촌코오롱(A),전세,84.78,202012,31,"63,000",0,2,1999,이촌로87길 21,-,-,-,NaN,NaN,아파트
197326,서울특별시 용산구 한강로3가,98,98,0,센트럴파크,월세,102.86,202012,31,"40,000",380,32,2020,서빙고로 17,-,-,-,NaN,NaN,아파트
197327,서울특별시 중구 중림동,200,200,0,삼성사이버빌리지,전세,84.93,202012,31,"56,000",0,3,2001,중림로 10,-,-,-,NaN,NaN,아파트

In [12]:
lr2021 = lr2021.sort_values('NO', ascending=False).reset_index()
lr2021 = lr2021.drop(columns=['index', 'NO'])
lr2021

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,서울특별시 강동구 고덕동,210-1,210,1,고덕센트럴푸르지오,월세,40.09,202101,1,"12,640",15,21,2020,고덕로 399,-,-,-,NaN,NaN,아파트
1,서울특별시 송파구 방이동,212-8,212,8,코오롱아파트,월세,84.95,202101,1,"40,000",150,9,1991,오금로31길 28,-,-,-,NaN,NaN,아파트
2,서울특별시 송파구 풍납동,251-2,251,2,토성현대,전세,57.24,202101,1,"43,000",0,3,1986,풍성로14길 19,-,-,-,NaN,NaN,아파트
3,서울특별시 동작구 사당동,196,196,0,인정,전세,59.79,202101,1,"21,500",0,1,1988,사당로2길 72,-,-,-,NaN,NaN,아파트
4,서울특별시 관악구 신림동,1735-2,1735,2,관악산휴먼시아3단지,월세,39.82,202101,1,"6,545",12,9,2008,난곡로 63,-,-,-,NaN,NaN,아파트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227930,서울특별시 성동구 하왕십리동,1070,1070,0,센트라스,월세,59.99,202112,31,"73,000",35,25,2016,왕십리로 410,202201~202401,신규,-,NaN,NaN,아파트
227931,서울특별시 용산구 용산동5가,24-1,24,1,용산파크타워(24-1),전세,128.36,202112,31,"150,000",0,13,2009,서빙고로 69,-,-,-,NaN,NaN,아파트
227932,서울특별시 중구 황학동,1743,1743,0,골드캐슬Ⅲ,전세,29.16,202112,31,"26,250",0,6,2017,난계로21길 39,202201~202401,갱신,-,"25,000",0,아파트
227933,서울특별시 용산구 이촌동,301-10,301,10,로얄맨숀,월세,191.60,202112,31,"75,000",70,1,1972,이촌로75길 6,202203~202403,신규,-,NaN,NaN,아파트
227934,서울특별시 중구 황학동,1572,1572,0,동광팰리스,전세,26.92,202112,31,"25,700",0,7,2018,난계로17길 16,202201~202401,갱신,사용,"24,500",0,아파트

In [13]:
lr2022 = lr2022.sort_values('NO', ascending=False).reset_index()
lr2022 = lr2022.drop(columns=['index', 'NO'])
lr2022

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,서울특별시 송파구 가락동,913,913,0,헬리오시티,월세,84.980,202201,1,"50,000",210,4,2018,송파대로 345,-,-,-,NaN,NaN,아파트
1,서울특별시 송파구 풍납동,397-1,397,1,드림스페이스II,월세,20.600,202201,1,"6,000",47,4,2014,강동대로3길 20,-,-,-,NaN,NaN,아파트
2,서울특별시 송파구 가락동,913,913,0,헬리오시티,월세,84.980,202201,1,"50,000",210,4,2018,송파대로 345,202202~202402,신규,-,NaN,NaN,아파트
3,서울특별시 송파구 풍납동,514,514,0,잠실올림픽공원아이파크,월세,75.990,202201,1,"65,000",34,27,2019,올림픽로43길 34,202201~202401,갱신,-,"55,000",50,아파트
4,서울특별시 송파구 풍납동,220-2,220,2,신동아파밀리에,전세,59.360,202201,1,"34,500",0,8,1993,풍성로6길 15,202201~202401,갱신,-,"32,500",0,아파트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259100,서울특별시 용산구 한남동,810,810,0,한남더힐,월세,59.686,202212,31,"20,000",630,9,2011,독서당로 111,202302~202502,신규,-,NaN,NaN,아파트
259101,서울특별시 용산구 산천동,204,204,0,한강타운,전세,59.690,202212,31,"34,000",0,11,2001,새창로8길 157,202302~202502,신규,-,NaN,NaN,아파트
259102,서울특별시 성동구 옥수동,528,528,0,옥수파크힐스101동~116동,월세,59.780,202212,31,"5,000",300,10,2016,매봉길 50,202301~202501,신규,-,NaN,NaN,아파트
259103,서울특별시 성동구 옥수동,561,561,0,래미안 옥수 리버젠,전세,59.840,202212,31,"66,000",0,17,2012,매봉길 15,202302~202502,신규,-,NaN,NaN,아파트
259104,서울특별시 성동구 옥수동,4,4,0,현대,전세,104.380,202212,31,"64,500",0,1,1990,독서당로40길 25,202302~202502,신규,-,NaN,NaN,아파트

In [14]:
lr2023 = lr2023.sort_values('NO', ascending=False).reset_index()
lr2023 = lr2023.drop(columns=['index', 'NO'])
lr2023

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,서울특별시 강서구 마곡동,750,750,0,마곡엠벨리(14단지),월세,84.50,202301,1,"10,000",210,13,2014,마곡중앙로 33,202301~202501,신규,-,NaN,NaN,아파트
1,서울특별시 강서구 내발산동,657,657,0,우장산힐스테이트,전세,59.98,202301,1,"48,500",0,15,2005,강서로 348,-,-,-,NaN,NaN,아파트
2,서울특별시 강서구 내발산동,657,657,0,우장산힐스테이트,전세,59.98,202301,1,"47,200",0,15,2005,강서로 348,202303~202503,신규,-,NaN,NaN,아파트
3,서울특별시 서초구 반포동,2-12,2,12,아크로리버파크,전세,59.98,202301,1,"130,000",0,4,2016,신반포로15길 19,-,-,-,NaN,NaN,아파트
4,서울특별시 영등포구 양평동5가,9-1,9,1,동보,전세,59.40,202301,1,"40,000",0,14,1998,양평로23길 18,-,갱신,사용,"43,000",0,아파트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282274,서울특별시 용산구 이촌동,395,395,0,대림,전세,59.22,202312,31,"40,000",0,20,1994,이촌로2가길 122,202403~202603,신규,-,NaN,NaN,아파트
282275,서울특별시 용산구 이촌동,404,404,0,한가람,월세,59.88,202312,31,"50,000",45,5,1998,이촌로 201,-,-,-,NaN,NaN,아파트
282276,서울특별시 용산구 이촌동,404,404,0,한가람,월세,59.88,202312,31,"50,010",45,5,1998,이촌로 201,202402~202602,갱신,사용,"50,000",80,아파트
282277,서울특별시 용산구 도원동,23,23,0,삼성래미안,월세,84.69,202312,31,"30,000",140,16,2001,새창로 70,202402~202602,신규,-,NaN,NaN,아파트
282278,서울특별시 용산구 효창동,274,274,0,효창파크푸르지오,전세,59.41,202312,31,"67,000",0,7,2010,백범로 260,-,-,-,NaN,NaN,아파트

In [15]:
lr2024 = lr2024.sort_values('NO', ascending=False).reset_index()
lr2024 = lr2024.drop(columns=['index', 'NO'])
lr2024

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,서울특별시 강남구 논현동,221-7,221,7,한양수자인어반게이트,월세,16.20,202401,1,"10,000",50,9,2013,봉은사로29길 35,202401~202502,신규,-,NaN,NaN,아파트
1,서울특별시 강남구 논현동,221-7,221,7,한양수자인어반게이트,월세,16.20,202401,1,"10,000",50,9,2013,봉은사로29길 35,-,-,-,NaN,NaN,아파트
2,서울특별시 강남구 세곡동,508,508,0,강남신동아파밀리에1단지,월세,59.97,202401,1,"20,000",117,11,2011,헌릉로590길 100,202401~202601,신규,-,NaN,NaN,아파트
3,서울특별시 송파구 신천동,17,17,0,파크리오,전세,84.79,202401,1,"105,000",0,29,2008,올림픽로 435,202403~202603,신규,-,NaN,NaN,아파트
4,서울특별시 강남구 압구정동,369-1,369,1,"현대1차(12,13,21,22,31,32,33동)",월세,196.21,202401,1,"93,520",300,11,1976,압구정로29길 71,202401~202512,갱신,-,"100,000",270,아파트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126826,서울특별시 광진구 광장동,148-4,148,4,워커힐푸르지오,월세,65.63,202406,30,"35,000",140,6,1987,아차산로78길 10,202409~202609,신규,-,NaN,NaN,아파트
126827,서울특별시 동대문구 전농동,6,6,0,전농우성,전세,126.63,202406,30,"40,000",0,1,1992,사가정로 190,202408~202608,신규,-,NaN,NaN,아파트
126828,서울특별시 성동구 행당동,347,347,0,대림e-편한세상(임대),전세,32.76,202406,30,"3,560",0,10,2000,행당로 79,-,신규,-,NaN,NaN,아파트
126829,서울특별시 성동구 하왕십리동,258,258,0,벽산,월세,84.94,202406,30,"50,000",70,3,1996,무학로 50,202407~202607,갱신,사용,"50,000",60,아파트
126830,서울특별시 용산구 이촌동,418,418,0,동부센트레빌,월세,100.80,202406,30,"57,500",160,23,2001,이촌로 174,202408~202608,신규,-,NaN,NaN,아파트

In [16]:
# 7개 데이터프레임 병합
lr = pd.concat([lr2018, lr2019, lr2020, lr2021, lr2022, lr2023, lr2024], ignore_index=True)

lr

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형
0,서울특별시 서대문구 홍은동,464,464,0,북한산더샵,월세,84.83,201801,1,"25,000",70,13,2017,통일로 510,-,-,-,NaN,NaN,아파트
1,서울특별시 마포구 신공덕동,170,170,0,브라운스톤공덕아파트,전세,59.89,201801,1,"50,000",0,18,2009,백범로 230,-,-,-,NaN,NaN,아파트
2,서울특별시 동작구 상도동,363-164,363,164,상도휴엔하임,월세,14.70,201801,1,"4,000",40,11,2016,상도로15길 131,-,-,-,NaN,NaN,아파트
3,서울특별시 영등포구 신길동,365,365,0,우성1,월세,49.64,201801,1,"10,000",25,2,1986,도신로 68,-,-,-,NaN,NaN,아파트
4,서울특별시 관악구 봉천동,863-9,863,9,코스모블루,월세,13.09,201801,1,"1,000",55,9,2012,남부순환로220길 29,-,-,-,NaN,NaN,아파트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1442676,서울특별시 광진구 광장동,148-4,148,4,워커힐푸르지오,월세,65.63,202406,30,"35,000",140,6,1987,아차산로78길 10,202409~202609,신규,-,NaN,NaN,아파트
1442677,서울특별시 동대문구 전농동,6,6,0,전농우성,전세,126.63,202406,30,"40,000",0,1,1992,사가정로 190,202408~202608,신규,-,NaN,NaN,아파트
1442678,서울특별시 성동구 행당동,347,347,0,대림e-편한세상(임대),전세,32.76,202406,30,"3,560",0,10,2000,행당로 79,-,신규,-,NaN,NaN,아파트
1442679,서울특별시 성동구 하왕십리동,258,258,0,벽산,월세,84.94,202406,30,"50,000",70,3,1996,무학로 50,202407~202607,갱신,사용,"50,000",60,아파트
1442680,서울특별시 용산구 이촌동,418,418,0,동부센트레빌,월세,100.80,202406,30,"57,500",160,23,2001,이촌로 174,202408~202608,신규,-,NaN,NaN,아파트

In [17]:
# 행 이름 수정
lr = lr.rename(columns={'시군구': '주소'})

# 계약기간이 잘못 기입된 행 수정
lr['계약기간'] = lr['계약기간'].replace('022403~202603', '202403~202603')
lr['계약기간'] = lr['계약기간'].replace('202407~262607', '202407~202607')
lr['계약기간'] = lr['계약기간'].replace('202312~232603', '202312~202603')
lr['계약기간'] = lr['계약기간'].replace('202112~212312', '202112~202312')
lr['계약기간'] = lr['계약기간'].replace('201911~212111', '201911~202111')
lr['계약기간'] = lr['계약기간'].replace('201910~212110', '201910~202110')

# '계약기간'과 '계약구분'의 -(결측값)을 결측치로 대체
lr['계약기간'] = lr['계약기간'].replace('-', pd.NA)
lr['계약구분'] = lr['계약구분'].replace('-', pd.NA)

# '갱신요구권 사용' 열을 bool 타입으로 변환
lr['갱신요구권 사용'] = lr['갱신요구권 사용'].apply(lambda x: True if x == '사용' else False)

# '거래일자' 열 생성
lr['거래일자'] = pd.to_datetime(lr['계약년월'].astype(str) + lr['계약일'].astype(str), format='%Y%m%d')

# '시도', '시군구', '읍면동' 열 생성
lr[['시도', '시군구', '읍면동']] = lr['주소'].str.split(' ', expand=True)

# '번지'와 '도로명' 열 생성
lr[['계약일', '계약종료일']] = lr['계약기간'].str.split('~', expand=True)

# '계약일'과 '계약종료일'의 일자를 01로 대체
lr['계약일'] = lr['계약일'].apply(lambda x: x + '01' if pd.notnull(x) else x)
lr['계약종료일'] = lr['계약종료일'].apply(lambda x: x + '01' if pd.notnull(x) else x)

# '계약일'과 '계약종료일'을 datetime 타입으로 변환
lr['계약일'] = pd.to_datetime(lr['계약일'], format='%Y%m%d')
lr['계약종료일'] = pd.to_datetime(lr['계약종료일'], format='%Y%m%d')

# '계약 기간' 열 생성
lr['계약 기간(년)'] = (lr['계약종료일'] - lr['계약일']).dt.days // 365

# 행 순서 수정
columns = ['거래일자', '계약일', '계약종료일', '계약 기간(년)', '주소', '시도', '시군구', '읍면동', '번지', '도로명'] + [col for col in lr.columns if col not in ['거래일자', '계약일', '계약종료일', '계약 기간(년)', '주소', '시도', '시군구', '읍면동', '번지', '도로명']]
lr = lr[columns]

# 필요 없는 행 삭제
lr = lr.drop(columns=['계약년월', '본번', '부번', '주택유형', '계약기간'])

lr

,거래일자,계약일,계약종료일,계약 기간(년),주소,시도,시군구,읍면동,번지,도로명,...,전월세구분,전용면적(㎡),보증금(만원),월세금(만원),층,건축년도,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원)
0,2018-01-01,NaT,NaT,NaN,서울특별시 서대문구 홍은동,서울특별시,서대문구,홍은동,464,통일로 510,...,월세,84.83,"25,000",70,13,2017,<NA>,False,NaN,NaN
1,2018-01-01,NaT,NaT,NaN,서울특별시 마포구 신공덕동,서울특별시,마포구,신공덕동,170,백범로 230,...,전세,59.89,"50,000",0,18,2009,<NA>,False,NaN,NaN
2,2018-01-01,NaT,NaT,NaN,서울특별시 동작구 상도동,서울특별시,동작구,상도동,363-164,상도로15길 131,...,월세,14.70,"4,000",40,11,2016,<NA>,False,NaN,NaN
3,2018-01-01,NaT,NaT,NaN,서울특별시 영등포구 신길동,서울특별시,영등포구,신길동,365,도신로 68,...,월세,49.64,"10,000",25,2,1986,<NA>,False,NaN,NaN
4,2018-01-01,NaT,NaT,NaN,서울특별시 관악구 봉천동,서울특별시,관악구,봉천동,863-9,남부순환로220길 29,...,월세,13.09,"1,000",55,9,2012,<NA>,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1442676,2024-06-30,2024-09-01,2026-09-01,2.0,서울특별시 광진구 광장동,서울특별시,광진구,광장동,148-4,아차산로78길 10,...,월세,65.63,"35,000",140,6,1987,신규,False,NaN,NaN
1442677,2024-06-30,2024-08-01,2026-08-01,2.0,서울특별시 동대문구 전농동,서울특별시,동대문구,전농동,6,사가정로 190,...,전세,126.63,"40,000",0,1,1992,신규,False,NaN,NaN
1442678,2024-06-30,NaT,NaT,NaN,서울특별시 성동구 행당동,서울특별시,성동구,행당동,347,행당로 79,...,전세,32.76,"3,560",0,10,2000,신규,False,NaN,NaN
1442679,2024-06-30,2024-07-01,2026-07-01,2.0,서울특별시 성동구 하왕십리동,서울특별시,성동구,하왕십리동,258,무학로 50,...,월세,84.94,"50,000",70,3,1996,갱신,True,"50,000",60
1442680,2024-06-30,2024-08-01,2026-08-01,2.0,서울특별시 용산구 이촌동,서울특별시,용산구,이촌동,418,이촌로 174,...,월세,100.80,"57,500",160,23,2001,신규,False,NaN,NaN

In [ ]:
lr.to_csv('아파트(전월세)_실거래가_전처리완료.csv', index=False)